
@media ( min-width : 768px) .navbar>.container .navbar-brand {
	margin-left:-15	px	;

}

.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 300;
	font-size: 36px;
	line-height: 27px;
	text-shadow: none;
	margin-left: 0px !important;
	font-family: 'Bebas', sans-serif;
	padding: 15px 0;
}

.middle{
	padding:100px 0px 0px 0px;
}

